.page-header
  = link_to microposts_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_micropost_path(@micropost), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show micropost

%dl.dl-horizontal
  %dt Content:
  %dd= @micropost.content
  %dt User:
  %dd= @micropost.user_id
